.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 360px 360px;
}

.dashboard-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.visualization {
  margin: 0;
  padding: 0;
}

.row-item{
  margin: 10px 0px;
}

.dashboard > :nth-child(1),
.dashboard > :nth-child(2),
.dashboard > :nth-child(3),
.dashboard > :nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  text-align: center;
}

.button-container button {
  padding: 10px 10px;
  font-size: 14px;
}

body{
    background-color: #f5f5f5;
    margin: 0;
}

#lineChart{
    background-color: #fafafa; 
    margin: 10px 10px 0px 20px;
    border: 1px #8a8a89 solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #BaBaB9;

    /* Color setted only to show total chart area -> Probably we were remove it or set it better */
}

.choroplethContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  margin: 0px 10px;
  border: 1px #8a8a89 solid;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #BaBaB9;
}

.customContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  margin: 0px 10px 0px 20px;
  border: 1px #8a8a89 solid;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #BaBaB9;

}

/* Pyramid stuff */
#PyramidChart{
  width: 100%;
  height: 346px;
  background-color: #fafafa;
  border: 1px #8a8a89 solid;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #BaBaB9;

  /* margin-right: ; */
  /* margin: 10px 10px 0px 0px; */
  /* transform : translate(2.5, 10); */
  /* overflow: none; */
}

text {
  font-family: lato;
  font-size: 10px;
  fill: #333333;
}

.button-year{
  background-color: #fff;
  border: 1px red solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

#d3_tooltip{
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: auto;
  min-width: 190px;
  height: 80px;
  position:absolute;
  color: black;
  background: #fafafa;
  align-items: center;
  border: 1px solid #6F257F;
  border-radius: 5px;
  padding: 5px;
}

.tooltip-row{
  display: flex;
  gap: 5px;
}

#d3_header{
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

#d3_suicide_ratio{
  margin: 5px;
}

#d3_income{
  margin: 5px;
}


#d3_inflation{
  margin: 5px;
}

#d3_forest_area{
  margin: 5px;
}

#customChart{
  background-color: #fafafa;
  margin: 0px 20px;
}

#scaleChoroplethCustom{
  border: 1px #8a8a89 solid;
  background-color: #EAEADA;
  border-radius: 5px;
}

#scaleBubbleChart{
  border: 1px #8a8a89 solid;
  background-color: #CACACA;
  border-radius: 5px;
}

#scaleCircleBubbleChart{
  border: 1px #8a8a89 solid;
  background-color: #CACACA;
  border-radius: 5px;
}